/* 
COOL COLORS
#FFFCF5
#4C4637
#B7AA87
#DAFFFD
#A2CCC5
*/

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fffcf5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}